<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Upload Question
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadRecording()" #loginForm="ngForm">
    <ion-item>
      <ion-label floating primary>
        <ion-icon name="alert"></ion-icon>
        Question Title
      </ion-label>
      <ion-input formControlName="recordingTitle" type="text" [(ngModel)]="title"
                 [class.invalid]="!uploadForm.controls.recordingTitle.valid && (uploadForm.controls.recordingTitle.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-list *ngIf="songGenres" no-lines no-padding>
      <ion-list-header>
        Your Songs Genres
        <button type="button" ion-button item-right (click)="editRecordingGenres()">
          <ion-icon name="build"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item>
        <ion-option *ngFor="let genre of songGenres | keyValueFilter">
          {{genre.value}} &nbsp;
        </ion-option>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="songLanguages" no-lines no-padding>
      <ion-list-header>
        Your Songs Languages
        <button type="button" ion-button item-right (click)="editRecordingLanguages()">
          <ion-icon name="build"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item>
        <ion-option *ngFor="let language of songLanguages | keyValueFilter">
          {{language.value}} &nbsp;
        </ion-option>
      </ion-item>
    </ion-list>

    <ion-footer>
      <button type="button" ion-button icon-only (click)="playRecording()" id="play-stop" class="footer-buttons">
        <ion-icon name="play" *ngIf="!playing">&nbsp;Play</ion-icon>
        <ion-icon name="pause" *ngIf="playing">&nbsp;Pause</ion-icon>
      </button>

      <button class="footer-buttons" ion-button type="submit" [attr.disabled]="!uploadForm.controls.recordingTitle.valid ? '' : null ">Upload
        &nbsp;<ion-icon name="cloud-upload"></ion-icon>
      </button>
    </ion-footer>
  </form>
</ion-content>
