<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Upload Question
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h3>Your song's languages</h3>
  <ion-list *ngIf="selectedLanguages">
    <ion-item *ngFor="let language of selectedLanguages | keyValueFilter">
      <ion-label>{{language.value}}</ion-label>
    </ion-item>
  </ion-list>
  <h3>Your song's genres</h3>
  <ion-list *ngIf="selectedGenres">
    <ion-item *ngFor="let genre of selectedGenres | keyValueFilter">
      <ion-label>{{genre.value}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list no-lines no-padding>
    <button ion-button icon-only round (click)="playRecording()" id="play-stop">
      <ion-icon name="play" *ngIf="!playing"></ion-icon>
      <ion-icon name="pause" *ngIf="playing"></ion-icon>
    </button>
    <ion-label primary id="play-stop-label"><b> Play your recording </b></ion-label>
  </ion-list>
  <form [formGroup]="uploadForm" (ngSubmit)="uploadRecording()" #loginForm="ngForm">
    <ion-item>
      <ion-label floating primary> <ion-icon name="alert"></ion-icon> Question Title</ion-label>
      <ion-input formControlName="recordingTitle" type="text" [(ngModel)]="title" [class.invalid]="!uploadForm.controls.recordingTitle.valid && (uploadForm.controls.recordingTitle.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <button ion-button type="submit" [attr.disabled]="!uploadForm.controls.recordingTitle.valid ? '' : null ">Upload &nbsp;<ion-icon name="cloud-upload"></ion-icon></button>
  </form>
</ion-content>
