<ion-header>
  <ion-navbar>
    <ion-title>
      SomeSong
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToProfile()">
       <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" padding="5px">
  <h3>My Unresolved Questions</h3>
  <ion-scroll scrollY="true" class="unresolvedQuestions">
    <ion-list no-lines no-padding>
      <ion-item *ngFor="let question of user?.questions">
        <button block ion-button (click)="goToQuestion(question)">{{question}}</button>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <h3>My Answers to Questions</h3>
  <ion-scroll scrollY="true" class="myAnswers">
    <ion-list no-lines no-padding>
      <ion-item *ngFor="let answer of user?.answers">
        <button block ion-button color="secondary" *ngIf="answer.question.correctAnswer == answer.answerID" (click)="goToQuestion(answer?.question)">{{answer?.question}}</button>
        <button block ion-button *ngIf="answer.question.correctAnswer != answer.answerID" (click)="goToQuestion(answer?.question)">{{answer?.question}}</button>
      </ion-item>
    </ion-list>
  </ion-scroll>


  <ion-buttons class="navigation-buttons">
    <button (click)="browseQuestions()" block ion-button>Browse Unresolved Questions</button>
    <button (click)="askAQuestion()" block ion-button>Ask a Question</button>
  </ion-buttons>
</ion-content>
