page-home {
  overflow-y: hidden !important;

  ion-card-header{
    color: #000 !important;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 1.8em !important;
    padding-bottom: 1px;
  }

  .label {
    margin: 0;
  }

  .item-inner {
    padding: 0px!important;
    margin: 0px !important;
  }

  .scrollableContent {
    height: 48%;
    width: 96%;
    margin: 2%;
    position: relative;

    .list-header {
      //background: #EEEEEE;
    }

    .scroll-content {
      padding: 0px !important;
    }

    ion-scroll {
      height: 75%;
    }

    ion-list {
      height: 75%;
      margin: -1px !important;

      .right-icons {
        padding-right: 25px !important;
      }
    }

    ion-card {
      background: #F5F5F5;
    }

    ion-item-sliding {
      margin: 2%;
      width: 96%;
      box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      border-radius: 2px;
      background: #F5F5F5;
    }

    .footer-button {
      position: absolute;
      bottom: 0;
      right: 0;

      button {
        padding: 0;
        height: 50px;
        width: 50px;
        border-radius: 100% !important;
      }
    }
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .contentCentered {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .contentCentered:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em; /* Adjusts for spacing */
  }

  .contentCentered > * {
    display: inline-block;
    vertical-align: middle;
  }
}
