<ion-header>
  <ion-navbar>
    <ion-title>
      SomeSong
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="goToProfile()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="no-scroll" padding="5px">
  <div class="scrollableContent">
    <ion-list-header class="list-header">
      My Questions
    </ion-list-header>
    <ion-scroll scrollY="true">
      <ion-list no-lines no-padding *ngIf="!isEmpty(userQuestions) && !questionLoading">
        <button ion-item *ngFor="let question of userQuestions | keyValueFilter | sortQuestions" (click)="goToQuestion(question.key)">
          {{question.value.title}}
          <ion-icon name="checkmark" item-left color="secondary" *ngIf="question.value.correctAnswer"></ion-icon>
          <ion-icon name="help" item-left color="dark" *ngIf="!question.value.correctAnswer"></ion-icon>

          <ion-icon name="ios-chatbubbles-outline" *ngIf="question.value.answers" item-right class="right-icons">
            &nbsp;{{(question.value.answers | keyValueFilter)?.length}}
          </ion-icon>
        </button>
      </ion-list>
      <div *ngIf="isEmpty(userQuestions) && !questionLoading" class="contentCentered">
        <div>
          No questions asked yet. <br>
          Press the
          <ion-icon name="help-circle"></ion-icon>
          button to ask a question.
        </div>
      </div>
      <div *ngIf="questionLoading" class="contentCentered">
        <div class="loader"></div>
      </div>
    </ion-scroll>
    <ion-buttons end class="footer-button">
      <button (click)="askAQuestion()" round ion-button color="light">
        <ion-icon name="md-help"></ion-icon>
      </button>
    </ion-buttons>
  </div>

  <div class="scrollableContent">
    <ion-list-header class="list-header">
      My Answers
    </ion-list-header>
    <ion-scroll scrollY="true">
      <ion-list no-lines no-padding *ngIf="!isEmpty(userAnswers) && !answerLoading">
        <button ion-item *ngFor="let answer of userAnswers | keyValueFilter | sortAnswers "
                (click)="goToQuestion(answer.value.question.questionID)">
          {{answer.value.question.title}}
          <ion-icon name="checkmark" *ngIf="answer.value.question.correctAnswer === answer.key" color="secondary"
                    item-left></ion-icon>
          <ion-icon name="close"
                    *ngIf="answer.value.question.correctAnswer && answer.value.question.correctAnswer != answer.key"
                    color="danger" item-left></ion-icon>
          <ion-icon name="help" color="dark" *ngIf="!answer.value.question.correctAnswer" item-left></ion-icon>
          <ion-icon name="ios-thumbs-up" *ngIf="answer.value.votes > 0" color="secondary" item-right class="right-icons">
            &nbsp;{{answer.value.votes}}
          </ion-icon>
          <ion-icon *ngIf="answer.value.votes === 0" item-right class="right-icons">{{answer.value.votes}}</ion-icon>
          <ion-icon name="ios-thumbs-down" *ngIf="answer.value.votes < 0" color="danger" item-right class="right-icons">
            &nbsp;{{answer.value.votes}}
          </ion-icon>
        </button>
      </ion-list>
      <div *ngIf="isEmpty(userAnswers) && !answerLoading" class="contentCentered">
        <div>
          No answers posted yet.<br>
          Press the
          <ion-icon name="search"></ion-icon>
          button to browse for questions.
        </div>
      </div>
      <div *ngIf="answerLoading" class="contentCentered">
        <div class="loader"></div>
      </div>
    </ion-scroll>
    <ion-buttons end class="footer-button">
      <button (click)="browseQuestions()" round ion-button color="light">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </div>
</ion-content>
