<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Questions
    </ion-title>
  </ion-navbar>

  <ion-toolbar>
    <button ion-button class="toolbar-buttons" (click)="order()">
      <ion-icon name="reorder">&nbsp;Order by</ion-icon>
    </button>
    <button ion-button class="toolbar-buttons" (click)="filter()">
      <ion-icon name="funnel">&nbsp;Filter by</ion-icon>
    </button>
    <ion-searchbar
      class="labelFixWidth"
      [(ngModel)]="selectedFilters.selectedTitle"
      [showCancelButton]="shouldShowCancel"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="scrollableContent">
    <ion-scroll scrollY="true">
      <ion-list no-lines no-padding *ngIf="questions | async; else loadingQuestions; let questionsDetails">
        <span *ngIf="questionsDetails.length > 0; else noQuestions">
          <span *ngIf="(questionsDetails | filterQuestions:selectedFilters).length > 0; else noFilteredQuestions">
            <button ion-item
                    *ngFor="let question of questionsDetails | filterQuestions:selectedFilters | sortQuestions:orderBy"
                    (click)="goToQuestion(question.$key)">
              {{question.title}}
              <ion-icon name="checkmark-circle" item-left color="secondary" *ngIf="question.correctAnswer"></ion-icon>
              <ion-icon name="help-circle" item-left color="dark" *ngIf="!question.correctAnswer"></ion-icon>

              <ion-icon name="ios-chatbubbles-outline" *ngIf="question.answers" item-right class="right-icons">
                &nbsp;{{(question.answers | keyValueFilter)?.length}}
              </ion-icon>
            </button>
          </span>
        </span>
      </ion-list>
      <ng-template #noQuestions>
        <div class="contentCentered">
          <div>
            No questions asked yet. <br>
            Press the
            <ion-icon name="help-circle"></ion-icon>
            button to ask a question.
          </div>
        </div>
      </ng-template>
      <ng-template #noFilteredQuestions>
        <div class="contentCentered">
          <div>
            No questions found for the selected filters. <br>
            Press the
            <ion-icon name="funnel"></ion-icon>
            button to change the filter, <br>
            Or change the
            <ion-icon name="search"></ion-icon>
            title filter.
          </div>
        </div>
      </ng-template>
      <ng-template #loadingQuestions>
        <div *ngIf="questionLoading" class="contentCentered">
          <div class="loader"></div>
        </div>
      </ng-template>

    </ion-scroll>
    <ion-buttons end class="footer-button">
      <button (click)="askAQuestion()" round ion-button color="light">
        <ion-icon name="md-help"></ion-icon>
      </button>
    </ion-buttons>
  </ion-card>
</ion-content>
