<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Questions
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)" placeholder="Filter by text"></ion-searchbar>-->
  <!--<ion-list>-->
    <!--<ion-item *ngFor="let item of genres">-->
      <!--<ion-label> {{item.genresID}}</ion-label>-->
      <!--<ion-checkbox [checked]="item.genresID === selected.genresID" (click)="select(item)"></ion-checkbox>-->
    <!--</ion-item>-->
  <!--</ion-list>-->
  <!--<ion-list *ngIf="genres">-->
    <!--<ion-item>-->
      <!--<ion-label>by genre</ion-label>-->
      <!--<ion-select [(ngModel)]="gaming">-->
        <!--<ion-option value="nes">NES</ion-option>-->
      <!--</ion-select>-->
    <!--</ion-item>-->
  <!--</ion-list>-->



  <ion-grid>
    <ion-row>Filters: </ion-row>
    <ion-row>
      <ion-list *ngIf="genresArray">
        <ion-item>
          <ion-label>By Genre</ion-label>
          <ion-select multiple="true" [(ngModel)]="filteredGenres" >
            <ion-option value={{genre}} *ngFor="let genre of genresArray">
              {{genre}}
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-list *ngIf="questions">
        <button ion-item (click)="goToQuestion(question.questionID)" *ngFor="let question of getAllEnabledQuestions()">
            {{question.title}}
        </button>
    </ion-list>
  </ion-grid>
</ion-content>
