<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      LeaderBoard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="image-row">
    <img src="assets/images/leaderboard-icon.png" height="150px" width="150px"/>
  </div>
  <ion-list-header class="list-header">
    Top 10 Players
  </ion-list-header>
  <ion-list *ngIf="scores">
    <ion-item *ngFor="let score of scores | keyValueFilter | sortScore">
      <ion-label>{{score.value.user}}</ion-label>
      <ion-label>{{score.value.score}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>



