page-leader-board {

  ion-card {
    align-content: center;
  }

  .image-row {
    width: 50%;
    height: 50%;
    left: 25%;
    position: relative;
  }

  ion-item {
    margin: 2% !important;
    width: 96% !important;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    border-radius: 2px !important;
    padding-left: 2% !important;
  }

  ion-card-content {
    padding: 0px !important;
  }

  ion-card-title{
    color: #000000 !important;
    font-family: Impact, Charcoal, sans-serif;
    margin: 0px !important;
    text-align: center;
  }

}
