<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      LeaderBoard
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/images/leaderboard-icon.png" class="image-row"/>
    <ion-card-content>
      <ion-card-title class="list-header">
        Top 10 Players
      </ion-card-title>
      <ion-list no-lines no-padding *ngIf="scores">
        <ion-item *ngFor="let score of scores | keyValueFilter | sortScore; let i = index">
          <ion-label *ngIf="i<10 && score?.key != user?.userID">#{{i + 1}}</ion-label>
          <ion-label *ngIf="i<10 && score?.key != user?.userID">{{score?.value.user}}</ion-label>
          <ion-label *ngIf="i<10 && score?.key != user?.userID">{{score?.value.score}}</ion-label>
          <ion-label *ngIf="i<10 && score?.key == user?.userID"><b>#{{i + 1}}</b></ion-label>
          <ion-label *ngIf="i<10 && score?.key == user?.userID"><b>{{score?.value.user}}</b></ion-label>
          <ion-label *ngIf="i<10 && score?.key == user?.userID"><b>{{score?.value.score}}</b></ion-label>
        </ion-item>
        <ion-item *ngIf="!userInTopTen()" style="text-align: center">
          <ion-label><b>...</b></ion-label>
        </ion-item>
        <ion-item *ngIf="!userInTopTen()">
          <ion-label><b>#{{userPosition}}.</b></ion-label>
          <ion-label><b>{{user.displayName}}</b></ion-label>
          <ion-label><b>{{userPoints}}</b></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>



