page-profile {

  .image-row {
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;

    h3 {
      font-family: Impact, Charcoal, sans-serif;
    }
  }

  button {
    float: right;
  }

  ion-footer {
    align-items: center;
    align-content: center;
  }

  .logout-btn {
    margin-bottom: 10px;
  }
  .profile-block {
    margin-top: 10px;
  }

  ion-list-header{
     color: #000000 !important;
     font-family: Impact, Charcoal, sans-serif;
     margin: 0px !important;
   }

  ion-lable{
    color: #000000 !important;
    font-family: Impact, Charcoal, sans-serif;
    margin: 0px !important;
    size: 12px
  }
}
