page-profile {

  button {
    float: right;
  }
  .niei{
    background-color: #5eeba4;
  }

  .logout-btn {
    float: left;
    margin-top: 20%


  }
  .profile-block {
    margin-top: 10;
    margin-bottom: 20%;
  }


}
