<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Profile
    </ion-title>
    <ion-buttons end>
      <button (click)="goToLeaderboard()" ion-button>
        <ion-icon name="ribbon"></ion-icon>
      </button>
      <button (click)="openImageOptions()" ion-button>
        <ion-icon name="camera"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="image-row">
    <img src="{{currentUser?.image}}" height="150px" width="150px"/>
    <h3>
      {{currentUser?.displayName}}
    </h3>
    <ion-label>
      {{currentUser?.email}}
    </ion-label>
   <ion-label>Score:{{userPoints}} (#{{userPosition}})</ion-label>
    </div>

  <div class="profile-block">
    <ion-list *ngIf="currentUser?.genres" no-lines no-padding>
      <ion-list-header>
        My Genres
        <button ion-button item-right (click)="goToGenreSelect()">
          <ion-icon name="build"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item>
        <ion-option *ngFor="let genre of currentUser.genres | keyValueFilter">
          {{genre.value}} &nbsp;
        </ion-option>
      </ion-item>
    </ion-list>
  </div>

  <div class="profile-block">
    <ion-list *ngIf="currentUser?.languages" no-lines no-padding>
      <ion-list-header>
        My Languages
        <button ion-button item-right (click)="goToLanguageSelect()">
          <ion-icon name="build"></ion-icon>
        </button>
      </ion-list-header>
      <ion-item>
        <ion-option *ngFor="let language of currentUser.languages | keyValueFilter">
          {{language.value}} &nbsp;
        </ion-option>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <button (click)="confirmLogout()" class="logout-btn" ion-button>
    Logout &nbsp;<ion-icon name="exit"></ion-icon>
  </button>
</ion-footer>
