<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      SomeSong: Profile
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="{{currentUser?.image}}" height="150px" width="150px" />
  <h2>Hello {{currentUser?.displayName}}</h2>
  <h4>This are your genres</h4>
  <ion-list *ngIf="genres != null">
    <ion-item *ngFor="let genre of currentUser?.genres">
      <ion-label>{{genres[genre]}}</ion-label>
    </ion-item>
  </ion-list>
  <h4>This are your languages</h4>
  <ion-list *ngIf="languages != null">
    <ion-item *ngFor="let language of currentUser?.languages">
      <ion-label>{{languages[language]}}</ion-label>
    </ion-item>
  </ion-list>

  <button (click)="logout()">LogOut</button>

</ion-content>
