page-question-details {
  ion-col {
    display: flex;
    align-items: center;
    justify-content: center
  }
  ion-label {
    margin: 0 !important;
  }

  .startCol {
    justify-content: flex-start;
  }

  .endCol {
    justify-content: flex-end;
  }

  .label-md {
    margin: 0px !important;
  }

  ion-item {
    padding-left: 3px !important;
  }

  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .contentCentered {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }

  .contentCentered:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em; /* Adjusts for spacing */
  }

  .contentCentered > * {
    display: inline-block;
    vertical-align: middle;
  }

  .scrollableContent {
    height: 60%;
    position: relative;

    .list-header {
      //background: #EEEEEE;
    }

    .scroll-content {
      padding: 0px !important;
    }

    ion-scroll {
      height: 85%;
    }

    ion-list {
      height: 85%;
      margin: -1px !important;

      .right-icons {
        padding-right: 25px !important;
      }
    }
  }
}
