<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Question Details
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Question</h3>
  <ion-grid>
    <ion-row>
      <ion-col col-3 class="startCol">
        <img src="{{questionUser?.image}}" width="50px" height="50px">
      </ion-col>
      <ion-col col-6></ion-col>
      <ion-col col-3 class="endCol">
        <ion-buttons end>
          <button ion-button icon-only round (click)="playRecording()" id="play-stop">
            <ion-icon name="play" *ngIf="!playing"></ion-icon>
            <ion-icon name="pause" *ngIf="playing"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="startCol">
        {{questionUser?.displayName}}
      </ion-col>
    </ion-row>
  </ion-grid>

  <br/>

  <b>Question Possible Genres:</b><br/>
  <div *ngIf="question?.genres">
    <button ion-button *ngFor="let genre of question?.genres | keyValueFilter">
      {{genre.value}}
    </button>
  </div>

  <br/>

  <b>Question Possible Languages:</b><br/>
  <div *ngIf="question?.languages">
    <button ion-button *ngFor="let language of question?.languages | keyValueFilter">
      {{language.value}}
    </button>
  </div>

  <hr/>

  <h3>Answers</h3>
  <ion-list>
    <ion-item-sliding *ngFor="let answer of questionAnswers | keyValueFilter" #item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-2 class="startCol">
              <img class="user-photo" src="{{answer.value.user?.image}}">
            </ion-col>
            <ion-col col-8 class="startCol">
              {{answer.value.content}}
            </ion-col>
            <ion-col col-2 class="endCol">
              <div class="votes">
                {{answer.value.votes}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="startCol" col-6>
              <strong>{{answer.value.user?.displayName}}</strong>
            </ion-col>
            <ion-col class="endCol" col-6>
              <span class="text-muted">{{answer.value?.time}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button small circle color="secondary" (click)="upVote(item, answer.value)">
          <ion-icon name="arrow-up"></ion-icon>
          Vote
        </button>
        <button ion-button small circle color="danger" (click)="downVote(item, answer.value)">
          <ion-icon name="arrow-down"></ion-icon>
          Vote
        </button>
        <button ion-button small circle (click)="resolve(item, answer.value)">
          <ion-icon name="checkmark"></ion-icon>
          Correct
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>


<ion-footer>
  <form (ngSubmit)="sendAnswer()" #answerForm="ngForm">
    <ion-toolbar>
      <ion-textarea placeholder="Suggest answer here..." [(ngModel)]="answer" name="answer"></ion-textarea>
      <ion-buttons end>
        <button ion-button type="submit">Send &nbsp;<ion-icon name="send"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </form>
</ion-footer>
