<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ask a Question
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content" padding>
  <div class="logo-row">
    <img id="microphoneImg" src="assets/images/microphone.jpg"/>
  </div>
  <form #loginForm="ngForm">
    <ion-row>
      <div class="container">
        <h3 name="play" *ngIf="!recording">Start Recording!</h3>
        <input type="checkbox" id="btn" (click)="startRecording()"/>
        <label for="btn"></label>
        <div class="time">
          <div class="h_m"></div>
          <div class="s_ms"></div>
        </div>
      </div>
    </ion-row>

    <div id='bars' *ngIf="recording">
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
      <div class='bar'></div>
    </div>
  </form>
  <button (click)="goToUploadPage()">Go to Upload</button>
</ion-content>
